.container {
  padding: 0;
  margin: 1em;
  box-shadow: 0 0 30px 6px hsla(227, 22%, 29%, 1);
  border-radius: .5em;
}

.content {
  margin: 1em;
  padding: 0 1em;
}

.caption h3 {
  background-color: hsla(227, 22%, 40%, 1);
  color: white;
  border-top-left-radius: .2em;
  border-top-right-radius: .2em;
  margin: 0;
  padding: .5em .7em;
}

button {
  margin: .2rem;
}

button:focus {
  outline: 0 !important;
}

.computed-grade {
  width: 12rem;
  text-align: center;
  font-size: 3em;
  border-radius: .5rem;
}

.grade-5 { background-color: #F4CCCC; }
.grade-4 { background-color: #FFF2CC; }
.grade-3 { background-color: #D9EAD3; }
.grade-2 { background-color: #C9DAF8; }
.grade-1 { background-color: #D9D2E9; }
